// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #00b894;
$secondary: #23272b;
$accent: #019870;
$error: #dc3545;
$background-dark: #121212;
$background-light: #f5f5f5;
$text-dark: #fff;
$text-light: #23272b;

$header-dark: #008469;
$header-light: #00b894;
$hover: #ccc;

$radius: 12px;
$shadow: 0 4px 16px rgba(0,0,0,0.18);
